@media only screen and (min-width: 320px){
	body {
  	padding: 50px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	}

	a {
		color: #00B7FF;
	}

	#snist-logo{
		height: 45px;
		width: auto;
	}
}